<section class="hero is-fullheight luna">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div class="hero-body planetas-izq">
        <div class="container has-text-centered planetas-der">
            <nav class="level">
                <div class="level-item has-text-centered">
                    <figure class="image logo">
                        <img src="assets/images/logo.png">
                    </figure>
                </div>
            </nav>
            <nav class="level">
                <div class="level-item has-text-centered">
                    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                        <div class="formulario">
                            <div class="field">
                                <label class="label">Registro</label>
                                <div class="control">
                                    <input class="input is-danger" #empleado="ngModel" name="empleado" [(ngModel)]="usuario.empleado" type="text" placeholder="Número de empleado">
                                </div>
                                <p *ngIf="empleado.touched" class="help is-danger">Coloque el número de empleado</p>
                            </div>
                            <button type="submit" class="button is-danger is-fullwidth">Iniciar</button>
                        </div>
                    </form>
                </div>
            </nav>
            <nav class="level">
                <div class="level-item has-text-centered">
                    <figure class="image astronauta">
                        <img src="assets/images/astronauta.png">
                    </figure>
                </div>
            </nav>
        </div>
    </div>
</section>